.btn-main {
    background-color: var(--color-main);
    color: var(--color-light);
    text-transform: uppercase;
    border: 2px solid transparent;

}

.btn-main:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.outlined-btn {
    border: 2px solid var(--color-main);
}

.outlined-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-light) !important;
}

.stock {
    color: var(--color-gray);
    font-size: 12px;
}

.card-img-grid {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}
.greyscale {
    position: relative;
}
.greyscale img {
    filter: grayscale(1) blur(2px);
    transition: all 0.3s ease;
}

.greyscale:hover img {
    filter: none;
}

.greyscale:hover::before {
    opacity: 0;
}

.greyscale::before {
    content: "No Stock";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    transition: all 0.3s ease;
}
