
.resetStock {
    right: 0;
    opacity: 0.5;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotating::before {
    animation: rotating 1s ease-in-out infinite;
}