.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20vh 20px 20px 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}
